Django==4.2.20            # Django web framework (LTS release)
djangorestframework==3.15.2   # Django REST Framework for APIs
django-cors-headers==4.7.0    # Handling of Cross-Origin Resource Sharing headers
graphene-django==3.2.3    # Graphene-Django for GraphQL support 
